.logoInstanceIcon {
  position: relative;
  width: 156.8px;
  height: 40.5px;
}
.navItems,
.navItems1,
.navItems2 {
  position: relative;
}
.navItems2 {
  white-space: nowrap;
}
.navigationLinksFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.alertsFrameIcon {
  position: relative;
  width: 26px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatarEllipseIcon {
  position: relative;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.headerContentFrame,
.loginSectionFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.headerContentFrame {
  width: 100%;
  justify-content: space-between;
  max-width: 1280px;
}
.headerInstance,
.mainContainerFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.headerInstance {
  background-color: var(--primary-contrast);
  border-bottom: 1px solid var(--light-grey-border);
  align-items: center;
  padding: var(--padding-sm) var(--padding-xl);
}
.mainContainerFrame {
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.imageGalleryFrame {
  align-self: stretch;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 438px;
  flex-shrink: 0;
  object-fit: cover;
}
.controlFramesIcon,
.controlFramesIcon1,
.controlFramesIcon2,
.controlFramesIcon3 {
  align-self: stretch;
  flex: 0.9596;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 86px;
  min-height: 86px;
}
.controlFramesIcon1,
.controlFramesIcon2,
.controlFramesIcon3 {
  flex: 1;
}
.controlVectorIcon,
.singleControlFrame {
  width: 100%;
  height: 100%;
  position: absolute;
}
.singleControlFrame {
  margin: 0 !important;
  top: -0.5px;
  right: 0.4px;
  bottom: 0.5px;
  left: -0.4px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.controlVectorIcon {
  z-index: 1;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(1.149);
}
.wrapperControlVector {
  position: relative;
  width: 31.7px;
  height: 24.6px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controlGroupIcon {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 11.5px);
  right: -11.5px;
  width: 22px;
  height: 22px;
  z-index: 2;
}
.controlFrames {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xl) 58px var(--padding-12xl) 59px;
  position: relative;
}
.galleryControlsFrame,
.propertyInfoFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.galleryControlsFrame {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.propertyInfoFrame {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 509px;
  max-width: 100%;
}
.cabinNameText,
.locationText {
  position: relative;
  letter-spacing: 0.02em;
}
.cabinNameText {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.locationText {
  font-size: var(--font-size-base);
}
.titleFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 208px;
  max-width: 100%;
}
.favoriteIconInstance {
  position: relative;
  width: 36px;
  height: 36px;
}
.cabinTitleFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.ratingText {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.ratingVectorIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.ratingDetailsFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.reviewCountText {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.reviewCountFrame {
  border-left: 1px solid var(--light-grey-border);
  flex-direction: row;
  align-items: center;
  padding: 0 4px 0 var(--padding-5xs);
  color: var(--accent);
}
.cabinDetailsFrame,
.ratingFrame,
.reviewCountFrame {
  display: flex;
  justify-content: flex-start;
}
.ratingFrame {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.cabinDetailsFrame {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.cabinDescriptionText {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 160%;
}
.cabinInfoFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: 17px;
  max-width: 100%;
  flex-shrink: 0;
}
.rateText {
  white-space: nowrap;
}
.nightText,
.rateText {
  position: relative;
  letter-spacing: 0.02em;
}
.nightlyRateFrame,
.perNightText {
  display: flex;
  justify-content: flex-start;
}
.perNightText {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-lg);
}
.nightlyRateFrame {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-9xs);
}
.trendVectorIcon {
  position: absolute;
  height: 43.33%;
  width: 63.11%;
  top: 28.89%;
  right: 18.45%;
  bottom: 27.78%;
  left: 18.45%;
  border-radius: 0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trendRectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -7.28%;
  bottom: -8.33%;
  left: 0;
  border-radius: 3.5px;
  border: 1.5px solid var(--accent);
  box-sizing: border-box;
}
.trendIconGroup {
  position: absolute;
  height: 81.82%;
  width: 93.64%;
  top: 8.64%;
  right: 3.18%;
  bottom: 9.55%;
  left: 3.18%;
}
.trendIcon {
  position: relative;
  width: 22px;
  height: 22px;
}
.bestBookingTime {
  position: relative;
  letter-spacing: 0.02em;
}
.bestTimeToBookContainer,
.trendInfoFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trendInfoFrame {
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
  color: var(--accent);
}
.bestTimeToBookContainer {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.searchFlightsText {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  font-family: var(--font-archivo);
  color: var(--primary-contrast);
  text-align: center;
}
.flightSearchButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--accent);
  align-self: stretch;
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.flightSearchButton:hover {
  background-color: #00a885;
}
.priceInfoFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.hostedByLabel {
  position: relative;
  letter-spacing: 0.02em;
}
.hostAvatarEllipse {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.hostJoinDate,
.hostNameText {
  position: relative;
  letter-spacing: 0.02em;
}
.hostNameText {
  line-height: 150%;
  font-weight: 600;
}
.hostJoinDate {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.hostNameFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  min-width: 99px;
}
.superhostVectorIcon {
  position: relative;
  width: 12.3px;
  height: 18.4px;
}
.superhostLabelText {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--accent);
  text-align: left;
}
.hostProfileFrame,
.superhostBadgeFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.superhostBadgeFrame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xs);
  background-color: #defff9;
  border-radius: 17px;
  gap: var(--gap-8xs);
}
.superhostBadgeFrame:hover {
  background-color: #c4e6e0;
}
.hostProfileFrame {
  align-self: stretch;
  border-top: 0.7px solid var(--light-grey-border);
  padding: var(--padding-5xs) 0 0;
  gap: var(--gap-3xs);
  color: var(--dark);
}
.bookingInfoContainer,
.hostInfoContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hostInfoContainer {
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--light-text);
}
.bookingInfoContainer {
  padding: 0 var(--padding-12xs);
  gap: 51px;
  font-size: 36px;
}
.contentFrame,
.propertySummaryFrame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.propertySummaryFrame {
  border-radius: 7px;
  background-color: var(--primary-contrast);
  border: 1px solid var(--light-grey-border);
  width: 470px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-7xl);
  min-width: 470px;
}
.contentFrame {
  width: 1321px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.aboutHomeTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.welcomeToBrightwoods {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.livingSpace {
  font-family: var(--font-archivo);
}
.livingSpaceThisCharmingCa {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.bedrooms {
  font-family: var(--font-archivo);
}
.bedroomsWith3BeautifullyA {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.kitchenDining {
  font-family: var(--font-archivo);
}
.kitchenDiningOurFullyEq {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.bathrooms {
  font-family: var(--font-archivo);
}
.bathrooms2ModernBathrooms {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.outdoorSpace {
  font-family: var(--font-archivo);
}
.outdoorSpaceStepOutsideTo {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.location {
  font-family: var(--font-archivo);
}
.locationLocatedJustMinutes {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.hostedWithLove {
  font-family: var(--font-archivo);
}
.hostedWithLoveWeTakePrid {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.comeBeOur {
  margin: 0;
}
.welcomeToBrightwoodsContainer {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.button {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  color: var(--accent);
  text-align: center;
}
.propertyDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 500px;
  max-width: 100%;
}
.amenityItemIcon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.amenityDescription,
.amenityFeature {
  position: relative;
  letter-spacing: 0.02em;
}
.amenityFeature {
  line-height: 150%;
  font-weight: 600;
}
.amenityDescription {
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.amenityDetails,
.amenityList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.amenityList {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
  max-width: 100%;
}
.amenityListChild {
  position: relative;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkInWith,
.selfCheckIn {
  position: relative;
  letter-spacing: 0.02em;
}
.selfCheckIn {
  line-height: 150%;
  font-weight: 600;
}
.checkInWith {
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.amenityList1,
.selfCheckInParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.amenityList1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.amenityListItem {
  position: relative;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.cancelAnytime,
.freeCancellation {
  position: relative;
  letter-spacing: 0.02em;
}
.freeCancellation {
  line-height: 150%;
  font-weight: 600;
}
.cancelAnytime {
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.amenityList2,
.freeCancellationParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.amenityList2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.amenityHighlights,
.homeDescriptionContainer,
.homeSummaryFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.amenityHighlights {
  width: 470px;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 470px;
  font-size: var(--font-size-lg);
}
.homeDescriptionContainer,
.homeSummaryFrame {
  align-self: stretch;
}
.homeSummaryFrame {
  flex-direction: row;
  gap: var(--gap-21xl);
  font-size: var(--font-size-base);
}
.homeDescriptionContainer {
  border-bottom: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-xl);
}
.amenitiesTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.amenityIcon {
  width: 20px;
  height: 21px;
  overflow: hidden;
  flex-shrink: 0;
}
.amenityIcon,
.amenityLabel {
  position: relative;
}
.amenityIconItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenityIconAlt {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.amenityIconAlt,
.amenityLabelAlt {
  position: relative;
}
.amenityIconRowAlt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenityIconSecondary {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.amenityLabelSecondary {
  position: relative;
}
.amenityIconRowSecondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenityIconTertiary {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.amenityLabelTertiary {
  position: relative;
}
.amenityIconRow,
.amenityIconRowTertiary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenityIconRow {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 180px;
}
.phcarIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.freeParking,
.phcarIcon {
  position: relative;
}
.phcarParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.cilshowerIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.cilshowerIcon,
.outdoorShower {
  position: relative;
}
.cilshowerParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.materialSymbolswaterVocOutIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.hotWater {
  position: relative;
}
.materialSymbolswaterVocOutParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.covidpersonalHygieneHandLiIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.shampoo {
  position: relative;
}
.amenityIconRow1,
.covidpersonalHygieneHandLiParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenityIconRow1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
  min-width: 180px;
}
.phfireExtinguisherIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.fireExtinguisher {
  position: relative;
}
.phfireExtinguisherParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.streamlinefoodKitchenwareReIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.freezer {
  position: relative;
}
.streamlinefoodKitchenwareReParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.materialSymbolscoffeeMakerIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.coffeeMaker {
  position: relative;
}
.materialSymbolscoffeeMakerParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mdistoveIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.glassStove,
.mdistoveIcon {
  position: relative;
}
.mdistoveParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenityIconGroup,
.amenityIconRow2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.amenityIconRow2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
  min-width: 180px;
}
.amenityIconGroup {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.actionButton {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  font-family: var(--font-archivo);
  color: var(--dark);
  text-align: center;
}
.bookButton {
  cursor: pointer;
  border: 1px solid var(--dark);
  padding: var(--padding-2xs) var(--padding-mid);
  background-color: transparent;
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.bookButton:hover {
  background-color: rgba(74, 82, 79, 0.09);
  border: 1px solid #4a524f;
  box-sizing: border-box;
}
.amenityIconList,
.amenityIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.amenityIconList {
  align-self: stretch;
  gap: 31px;
  font-size: var(--font-size-base);
}
.amenityIcons {
  flex: 1;
  gap: var(--gap-xl);
  max-width: 100%;
}
.locationTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.locationPinIcon {
  width: 9.3px;
  height: 11px;
}
.locationName,
.locationPinIcon {
  position: relative;
}
.locationContainer,
.locationMapFrame {
  display: flex;
  justify-content: flex-start;
}
.locationMapFrame {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.locationContainer {
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.weatherIconFrame {
  position: relative;
  width: 47px;
  height: 47px;
}
.temperatureText,
.weatherDescription {
  position: relative;
  letter-spacing: 0.02em;
}
.temperatureText {
  line-height: 150%;
  font-weight: 600;
}
.weatherDescription {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.weatherContainer,
.weatherDetailsFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weatherDetailsFrame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.weatherContainer {
  width: 108px;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.c,
.sunIcon {
  position: relative;
}
.sunIcon {
  width: 40px;
  height: 40px;
}
.c {
  align-self: stretch;
}
.cWrapper,
.sunParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper {
  align-self: stretch;
  align-items: center;
}
.sunParent {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug,
.sun {
  align-self: stretch;
  position: relative;
}
.frameParent,
.sunGroup {
  flex-direction: column;
  justify-content: flex-start;
}
.sunGroup {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameParent {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloudIcon {
  position: relative;
  width: 40px;
  height: 40px;
}
.c1 {
  align-self: stretch;
  position: relative;
}
.cContainer,
.suncloudParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cContainer {
  align-self: stretch;
  align-items: center;
}
.suncloudParent {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug1,
.mon {
  align-self: stretch;
  position: relative;
}
.frameGroup,
.monParent {
  flex-direction: column;
  justify-content: flex-start;
}
.monParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameGroup {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.c2,
.sunIcon1 {
  position: relative;
}
.sunIcon1 {
  width: 40px;
  height: 40px;
}
.c2 {
  align-self: stretch;
}
.cFrame,
.sunContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cFrame {
  align-self: stretch;
  align-items: center;
}
.sunContainer {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug2,
.tue {
  align-self: stretch;
  position: relative;
}
.frameContainer,
.tueParent {
  flex-direction: column;
  justify-content: flex-start;
}
.tueParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameContainer {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloudIcon1 {
  position: relative;
  width: 40px;
  height: 40px;
}
.c3 {
  align-self: stretch;
  position: relative;
}
.cWrapper1,
.suncloudGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper1 {
  align-self: stretch;
  align-items: center;
}
.suncloudGroup {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug3,
.wed {
  align-self: stretch;
  position: relative;
}
.frameDiv,
.wedParent {
  flex-direction: column;
  justify-content: flex-start;
}
.wedParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameDiv {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloudIcon2 {
  position: relative;
  width: 40px;
  height: 40px;
}
.c4 {
  align-self: stretch;
  position: relative;
}
.cWrapper2,
.suncloudContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper2 {
  align-self: stretch;
  align-items: center;
}
.suncloudContainer {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug4,
.thu {
  align-self: stretch;
  position: relative;
}
.frameParent1,
.thuParent {
  flex-direction: column;
  justify-content: flex-start;
}
.thuParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameParent1 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.c5,
.sunIcon2 {
  position: relative;
}
.sunIcon2 {
  width: 40px;
  height: 40px;
}
.c5 {
  align-self: stretch;
}
.cWrapper3,
.sunParent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper3 {
  align-self: stretch;
  align-items: center;
}
.sunParent1 {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.fri,
.sep {
  align-self: stretch;
  position: relative;
}
.friParent {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameParent2,
.weatherSection {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  display: none;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.weatherSection {
  border-radius: 12px;
  width: 154px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.locationSection1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
  row-gap: 20px;
  max-width: 100%;
}
.locationMapBackground {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 248px;
  flex-shrink: 0;
  object-fit: cover;
}
.locationMapOverlay {
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 161.5px;
  border-radius: var(--br-9xs);
  width: 37px;
  height: 65px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.locationFrame {
  align-self: stretch;
  flex-direction: column;
  position: relative;
  gap: var(--gap-xl);
}
.amenitiesSection,
.locationFrame,
.locationSection,
.propertyDetailsFrame1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.locationSection {
  width: 480px;
  flex-direction: column;
  min-width: 480px;
}
.amenitiesSection,
.propertyDetailsFrame1 {
  box-sizing: border-box;
}
.amenitiesSection {
  align-self: stretch;
  border-bottom: 1px solid var(--light-grey-border);
  flex-direction: row;
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-lgi);
}
.propertyDetailsFrame1 {
  width: 1320px;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  gap: var(--gap-11xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.allReviewsButton,
.reviewsTitle {
  position: relative;
  font-weight: 600;
}
.reviewsTitle {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-family: inherit;
}
.allReviewsButton {
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  color: var(--accent);
  text-align: center;
}
.reviewsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.reviewerAvatarFrames {
  position: relative;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.reviewDates,
.reviewerNames {
  position: relative;
  letter-spacing: 0.02em;
}
.reviewerNames {
  line-height: 150%;
  font-weight: 600;
}
.reviewDates {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.reviewerNameDateFrames,
.reviewerProfileFrames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.reviewerProfileFrames {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.reviewText {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.reviewIcons {
  position: relative;
  width: 16px;
  height: 16px;
}
.reviewContentFrames,
.reviewerInfoFrames {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviewContentFrames {
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-9xs);
}
.reviewerInfoFrames {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.reviewComments {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
}
.reviewFrames {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 299px;
  max-width: 100%;
}
.frameChild {
  position: relative;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.may2023,
.yutaWatanabe {
  position: relative;
  letter-spacing: 0.02em;
}
.yutaWatanabe {
  line-height: 150%;
  font-weight: 600;
}
.may2023 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.ellipseParent,
.yutaWatanabeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.ellipseParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.div {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.vectorIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.frameParent3,
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.parent {
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-9xs);
}
.frameParent3 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.theLocationIs {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
}
.reviewFrames1 {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 299px;
  max-width: 100%;
}
.frameItem {
  position: relative;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.december2022,
.shaneWillis {
  position: relative;
  letter-spacing: 0.02em;
}
.shaneWillis {
  line-height: 150%;
  font-weight: 600;
}
.december2022 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.ellipseGroup,
.shaneWillisParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.ellipseGroup {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.div1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.vectorIcon1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.frameParent4,
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group {
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-9xs);
}
.frameParent4 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.aGreatPlace {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
}
.reviewFrames2,
.reviewListFrame,
.reviewsSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reviewFrames2 {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 299px;
}
.reviewListFrame,
.reviewsSection {
  gap: var(--gap-xl);
}
.reviewListFrame {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--font-size-base);
}
.reviewsSection {
  border-bottom: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  width: 1280px;
  flex-direction: column;
  padding: 0 0 var(--padding-11xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.similarStaysHeader {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.viewAllButton {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  color: var(--accent);
  text-align: center;
}
.similarStaysSection1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.vectorIcon2 {
  position: relative;
  width: 6.7px;
  height: 10px;
}
.superhost {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vectorParent {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-smi);
  background-color: var(--primary-contrast);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-11xs);
  z-index: 0;
}
.favoriteIconInstances {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.533);
}
.wrapperFavoriteIconInstance {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 9.5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.stayPreview {
  width: 181px;
  height: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  background-image: url(/public/stay-preview@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.stayLocations,
.stayNames {
  position: relative;
  letter-spacing: 0.02em;
}
.stayNames {
  font-weight: 600;
}
.stayLocations {
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.stayTitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.ratingIcons {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.ratingVectorsIcon {
  position: relative;
  width: 13px;
  height: 13px;
  min-height: 13px;
}
.stayInfoFrames,
.stayRatingFrames {
  display: flex;
  justify-content: flex-start;
}
.stayRatingFrames {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
}
.stayInfoFrames {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xs);
}
.priceLabels,
.pricePerNight {
  position: relative;
  letter-spacing: 0.02em;
}
.priceLabels {
  font-weight: 600;
  white-space: nowrap;
}
.pricePerNight {
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.priceInfoFrames {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.guestIcons,
.priceVectorsIcon {
  position: relative;
  width: 1px;
  height: 14px;
}
.guestIcons {
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.guestCounts {
  position: relative;
  letter-spacing: 0.02em;
}
.guestInfoFrames,
.stayPriceFrames {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.guestInfoFrames {
  flex: 1;
  gap: var(--gap-11xs);
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.stayPriceFrames {
  width: 167px;
  gap: var(--gap-5xs);
  color: var(--accent);
}
.stayDetailsFrames,
.stayPreviewItems {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stayDetailsFrames {
  height: 163px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--dark);
}
.stayPreviewItems {
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  height: 143px;
  overflow: hidden;
  flex-direction: row;
  min-width: 310px;
  max-width: 100%;
}
.vectorIcon3 {
  position: relative;
  width: 6.7px;
  height: 10px;
}
.superhost1 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vectorGroup {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-smi);
  background-color: var(--primary-contrast);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-11xs);
  z-index: 0;
}
.heartIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.533);
}
.wrapperHeartIcon {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 9.5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frameParent5 {
  width: 181px;
  height: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  background-image: url(/public/frame-91@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.urbanLoft,
.urbanLoft1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.urbanLoftParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div2 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.vectorIcon4 {
  position: relative;
  width: 13px;
  height: 13px;
  min-height: 13px;
}
.container,
.frameParent7 {
  display: flex;
  justify-content: flex-start;
}
.container {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
}
.frameParent7 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.div3,
.night {
  position: relative;
  letter-spacing: 0.02em;
}
.div3 {
  font-weight: 600;
  white-space: nowrap;
}
.night {
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameInner,
.userIcon {
  position: relative;
  width: 1px;
  height: 14px;
}
.userIcon {
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.guests {
  position: relative;
  letter-spacing: 0.02em;
}
.frameParent8,
.userParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.userParent {
  flex: 1;
  gap: var(--gap-11xs);
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.frameParent8 {
  width: 167px;
  gap: var(--gap-5xs);
  color: var(--accent);
}
.frameParent6,
.stayPreviewItems1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent6 {
  height: 163px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--dark);
}
.stayPreviewItems1 {
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  height: 143px;
  overflow: hidden;
  flex-direction: row;
  min-width: 310px;
  max-width: 100%;
}
.vectorIcon5 {
  position: relative;
  width: 6.7px;
  height: 10px;
}
.superhost2 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vectorContainer {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 10.1px;
  border-radius: var(--br-smi);
  background-color: var(--primary-contrast);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-11xs);
  z-index: 0;
}
.heartIcon1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.533);
}
.wrapperHeartIcon1 {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 9.5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frameParent9 {
  width: 181px;
  height: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.forestvilleCottages {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.simcoeOntarioCanada {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  color: var(--light-text);
}
.forestvilleCottagesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div4 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.vectorIcon6 {
  position: relative;
  width: 13px;
  height: 13px;
  min-height: 13px;
}
.frameParent11,
.parent2 {
  display: flex;
  justify-content: flex-start;
}
.parent2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
}
.frameParent11 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 35px 0 0;
  gap: var(--gap-xs);
}
.div5,
.night1 {
  position: relative;
  letter-spacing: 0.02em;
}
.div5 {
  font-weight: 600;
  white-space: nowrap;
}
.night1 {
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.parent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameChild1,
.userIcon1 {
  position: relative;
  width: 1px;
  height: 14px;
}
.userIcon1 {
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.guests1 {
  position: relative;
  letter-spacing: 0.02em;
}
.userGroup {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-11xs);
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.frameParent10,
.frameParent12,
.userGroup {
  display: flex;
  justify-content: flex-start;
}
.frameParent12 {
  width: 169px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--accent);
}
.frameParent10 {
  flex: 1;
  height: 163px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--dark);
}
.similarStaysSection,
.stayPreviewItems2,
.stayPreviewList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.stayPreviewItems2 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  height: 143px;
  overflow: hidden;
  flex-direction: row;
  min-width: 310px;
}
.similarStaysSection,
.stayPreviewList {
  gap: var(--gap-xl);
}
.stayPreviewList {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--font-size-xs);
  color: var(--accent);
}
.similarStaysSection {
  width: 1320px;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.supportLink {
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.supportLink,
.supportResources,
.supportResources1,
.supportResources2,
.supportResources3,
.supportResources4,
.supportResources5 {
  position: relative;
}
.supportOptions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 191px;
  max-width: 100%;
}
.hostingCategories {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.engagementPrograms,
.hostResources,
.hostingGuides,
.localCategories,
.responsibleHostingInfo {
  position: relative;
}
.hostingLinks {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 111px;
  max-width: 100%;
}
.localhost {
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.careers,
.giftCards,
.investres,
.localhost,
.newFeatures,
.newsroom {
  position: relative;
}
.hostingInfoFrames,
.hostingLinks1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hostingLinks1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
  min-width: 111px;
}
.hostingInfoFrames {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-3xs);
}
.footerLinksFrames,
.footerTopFrames {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerLinksFrames {
  width: 100%;
  align-items: flex-start;
  max-width: 1280px;
}
.footerTopFrames {
  align-self: stretch;
  background-color: var(--light-bg);
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-11xl);
  max-width: 100%;
}
.policyNavigation,
.policyNavigation1,
.policyNavigation2,
.rightsDeclaration {
  position: relative;
  line-height: 120%;
  font-weight: 300;
}
.copyrightInfo,
.legalSection,
.policyLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.policyLinks {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.copyrightInfo,
.legalSection {
  justify-content: space-between;
  max-width: 1280px;
}
.copyrightInfo {
  flex: 1;
  gap: var(--gap-xl);
}
.legalSection {
  width: 100%;
}
.footer {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-xs) var(--padding-11xl);
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.footer,
.footerSection,
.propertyDetailsFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerSection {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.propertyDetailsFrame {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  overflow: hidden;
  align-items: center;
  gap: 44px;
  letter-spacing: normal;
}
.propertyDetailsFrame:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1275px) {
  .propertySummaryFrame {
    flex: 1;
  }
  .contentFrame {
    flex-wrap: wrap;
  }
  .amenityHighlights {
    flex: 1;
  }
  .homeSummaryFrame {
    flex-wrap: wrap;
  }
  .locationSection {
    flex: 1;
  }
  .amenitiesSection {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .headerContentFrame {
    max-width: 100%;
  }
  .reviewsSection {
    width: calc(100% - 40px);
  }
  .copyrightInfo,
  .footerLinksFrames,
  .legalSection {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .navigationLinksFrame {
    display: none;
  }
  .galleryControlsFrame {
    flex-wrap: wrap;
  }
  .propertyInfoFrame {
    min-width: 100%;
  }
  .rateText {
    font-size: var(--font-size-10xl);
  }
  .propertySummaryFrame {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .amenityHighlights,
  .propertyDescription {
    min-width: 100%;
  }
  .homeSummaryFrame {
    gap: var(--gap-xl);
  }
  .amenityIconGroup,
  .locationSection1 {
    flex-wrap: wrap;
  }
  .locationSection {
    min-width: 100%;
  }
  .copyrightInfo {
    flex-wrap: wrap;
  }
  .propertyDetailsFrame {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .controlFramesIcon {
    flex: 1;
  }
  .cabinNameText {
    font-size: 23px;
  }
  .cabinTitleFrame {
    flex-wrap: wrap;
  }
  .rateText {
    font-size: 22px;
  }
  .bestTimeToBookContainer,
  .hostProfileFrame {
    flex-wrap: wrap;
  }
  .bookingInfoContainer {
    gap: 25px;
  }
  .aboutHomeTitle {
    font-size: var(--font-size-lgi);
  }
  .propertyDescription {
    gap: var(--gap-xl);
  }
  .amenitiesTitle {
    font-size: var(--font-size-lgi);
  }
  .amenityIconList {
    gap: var(--gap-mini);
  }
  .locationTitle,
  .reviewsTitle {
    font-size: var(--font-size-lgi);
  }
  .frameParent3,
  .frameParent4,
  .reviewerInfoFrames,
  .reviewsContainer {
    flex-wrap: wrap;
  }
  .similarStaysHeader {
    font-size: var(--font-size-lgi);
  }
  .similarStaysSection1 {
    flex-wrap: wrap;
  }
  .hostingCategories,
  .localhost,
  .supportLink {
    font-size: var(--font-size-base);
  }
}
