.mdilakeIcon {
  height: 21px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.lakeside,
.mdilakeIcon {
  position: relative;
}
.tablertoolskitchen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.tablertoolsKitchen2Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.kitchen {
  position: relative;
}
.guests {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.materialSymbolsnestCamIqOIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.securityCamerasOn {
  position: relative;
}
.vector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ionwifiIcon {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.ionwifiIcon,
.wifi {
  position: relative;
}
.amenitiessection1,
.ionwifiParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenitiessection1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 180px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
