.sunCloudIcon {
  align-self: stretch;
  height: 438px;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ellipseIcon {
  width: 148.4px;
  flex-shrink: 0;
  min-width: 148px;
  min-height: 86px;
  flex: 0.9596;
}
.ellipseIcon,
.ellipseIcon1,
.ellipseIcon2,
.ellipseIcon3,
.vectorIcon {
  align-self: stretch;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipseIcon1,
.ellipseIcon2,
.ellipseIcon3 {
  width: 148.4px;
  flex-shrink: 0;
  min-width: 148px;
  min-height: 86px;
}
.vectorIcon {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: -0.5px;
  right: 0.4px;
  bottom: 0.5px;
  left: -0.4px;
}
.frameSimilarStays {
  height: 24.6px;
  width: 31.7px;
  position: relative;
  z-index: 1;
}
.groupInput {
  margin: 0 !important;
  height: 22px;
  width: 22px;
  position: absolute;
  top: calc(50% - 11.5px);
  right: -11.5px;
  z-index: 2;
}
.ellipse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xl) var(--padding-39xl) var(--padding-12xl)
    var(--padding-40xl);
  box-sizing: border-box;
  position: relative;
  min-width: 148px;
}
.frameReviewCard,
.glassStove {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameReviewCard {
  align-self: stretch;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.glassStove {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 509px;
  max-width: 100%;
}
.brightwoodsCabin {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.bridlepathOntarioCanada {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
}
.searchButtonFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 242px;
  max-width: 100%;
}
.heartIcon {
  height: 36px;
  width: 36px;
  position: relative;
}
.helpCentre {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.phcar {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.phfireextinguisherIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.mdilake {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.reviews {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.lakeside {
  border-left: 1px solid var(--light-grey-border);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-9xs) 0 var(--padding-5xs);
  color: var(--accent);
}
.lakeside,
.mdilakeParent,
.privacyPolicy {
  display: flex;
  justify-content: flex-start;
}
.mdilakeParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.privacyPolicy {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.welcomeToOur {
  align-self: stretch;
  height: 104px;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 160%;
  display: inline-block;
}
.frameworkHosting {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-mid);
  max-width: 100%;
  flex-shrink: 0;
}
.shampoo {
  height: 39px;
  display: inline-block;
  white-space: nowrap;
}
.night,
.shampoo {
  position: relative;
  letter-spacing: 0.02em;
}
.nightWrapper,
.wifi {
  display: flex;
  justify-content: flex-start;
}
.nightWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-lg);
}
.wifi {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-9xs);
}
.icon {
  position: absolute;
  height: 43.33%;
  width: 63.11%;
  top: 28.89%;
  right: 18.45%;
  bottom: 27.78%;
  left: 18.45%;
  border-radius: var(--br-12xs-5);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.searchIconButton {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -7.28%;
  bottom: -8.33%;
  left: 0;
  border-radius: var(--br-9xs-5);
  border: 1.5px solid var(--accent);
  box-sizing: border-box;
}
.iconParent {
  position: absolute;
  height: 81.82%;
  width: 93.64%;
  top: 8.64%;
  right: 3.18%;
  bottom: 9.55%;
  left: 3.18%;
}
.icontrend {
  height: 22px;
  width: 22px;
  position: relative;
}
.bestTimeTo {
  position: relative;
  letter-spacing: 0.02em;
}
.newFeatures,
.theBridlePath {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newFeatures {
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
  color: var(--accent);
}
.theBridlePath {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.searchFlightsButton {
  align-self: stretch;
  height: 58px;
}
.vector {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.hostedBy {
  position: relative;
  letter-spacing: 0.02em;
}
.ellipseReviewerPic {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.joinedInMay,
.michelleWard {
  position: relative;
  letter-spacing: 0.02em;
}
.michelleWard {
  line-height: 150%;
  font-weight: 600;
}
.joinedInMay {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.textReviewTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  min-width: 149px;
}
.frameReviewDate {
  height: 18.4px;
  width: 12.3px;
  position: relative;
}
.superhost {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--accent);
  text-align: left;
}
.frameReviewerName,
.reviewCardFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameReviewerName {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xs);
  background-color: var(--color-lightcyan);
  border-radius: var(--br-mid);
  gap: var(--gap-8xs);
}
.frameReviewerName:hover {
  background-color: var(--color-powderblue);
}
.reviewCardFrame {
  align-self: stretch;
  border-top: 0.7px solid var(--light-grey-border);
  padding: var(--padding-5xs) 0 0;
  gap: var(--gap-3xs);
  color: var(--dark);
}
.rectangleResultList,
.streamlinefoodkitchenwarerefri {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleResultList {
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--light-text);
}
.streamlinefoodkitchenwarerefri {
  padding: 0 var(--padding-12xs);
  gap: var(--gap-32xl);
  font-size: var(--font-size-17xl);
}
.textShampoo,
.user {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.user {
  width: 470px;
  border-radius: var(--br-6xs);
  background-color: var(--white);
  border: 1px solid var(--light-grey-border);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-7xl);
  min-width: 470px;
}
.textShampoo {
  width: 1321px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1125px) {
  .user {
    flex: 1;
  }
  .textShampoo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .glassStove {
    min-width: 100%;
  }
  .shampoo {
    font-size: var(--font-size-10xl);
  }
  .user {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .brightwoodsCabin {
    font-size: var(--font-size-4xl);
  }
  .helpCentre {
    flex-wrap: wrap;
  }
  .shampoo {
    font-size: var(--font-size-3xl);
  }
  .reviewCardFrame,
  .theBridlePath {
    flex-wrap: wrap;
  }
  .streamlinefoodkitchenwarerefri {
    gap: var(--gap-6xl);
  }
}
