.logoIcon {
  width: 156.8px;
  height: 40.5px;
}
.logoIcon,
.navLinks,
.navLinks1,
.navLinks2 {
  position: relative;
}
.navLinks2 {
  white-space: nowrap;
}
.headerGroup,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.headerGroup {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  gap: var(--gap-xl);
}
.header,
.mainFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header {
  background-color: var(--primary-contrast);
  border-bottom: 1px solid var(--light-grey-border);
  align-items: center;
  padding: var(--padding-sm) var(--padding-xl);
}
.mainFrame {
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1275px) {
  .headerGroup {
    max-width: 100%;
  }
}
