@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-archivo: Archivo;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-21xl-4: 40.4px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-3xs: 10px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-gray-100: #fafafa;
  --color-gray-200: #7a7a7a;
  --light-text: #787878;
  --dark: #171e1d;
  --light-grey-border: #e8ecf2;
  --color-black: #000;
  --primary-contrast: #fff;
  --accent: #00c29f;
  --color-mediumaquamarine-100: #00a885;
  --color-whitesmoke-100: #f8f8f8;
  --light-bg: #f4f4f4;
  --color-whitesmoke-200: #ececec;
  --color-lightseagreen-100: #00a887;
  --color-darkslategray-100: #4a524f;
  --color-darkslategray-200: rgba(74, 82, 79, 0.09);
  --color-lightcyan: #defff9;
  --color-powderblue: #c4e6e0;

  /* Gaps */
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-3xs: 10px;
  --gap-sm: 14px;
  --gap-5xl: 24px;
  --gap-7xl-7: 26.7px;
  --gap-base-7: 15.7px;
  --gap-11xl: 30px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-0: 0px;
  --gap-9xs: 4px;
  --gap-4xs: 9px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-10xs: 3px;
  --gap-8xs: 5px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-21xl: 40px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-52xl: 71px;
  --padding-91xl: 110px;
  --padding-21xl: 40px;
  --padding-20xl: 39px;
  --padding-7xl: 26px;
  --padding-6xl: 25px;
  --padding-11xs: 2px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-lg-8: 18.8px;
  --padding-2xs: 11px;
  --padding-base: 16px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-19xl: 38px;
  --padding-4xs: 9px;
  --padding-5xl: 24px;
  --padding-4xl: 23px;
  --padding-12xs: 1px;
  --padding-lgi: 19px;
  --padding-10xs: 3px;
  --padding-12xl: 31px;
  --padding-39xl: 58px;
  --padding-40xl: 59px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xl: 20px;
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-smi: 13px;
  --br-4xs: 9px;
  --br-xs: 12px;
  --br-6xs: 7px;
  --br-mid: 17px;
  --br-9xs-5: 3.5px;
  --br-12xs-5: 0.5px;
}
